.inputContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input{
    padding: 8px;
    border-radius: 4px;
    width: 400px;
}

.error{
    padding: 8px;
    color: red;
    text-align: center;
}